<div class="container">
    <div class="row">
        <nav class="#c5cae9 indigo lighten-4">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#" class="logo">DEFINE.THIS</a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ASK</a></li>
                <li><a href="#">DEFINE</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">REGISTER</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </nav>
    </div>




    <header>
        <!-- logo -->
        <!-- home -->
        <!-- ask -->
        <!-- define -->
        <!-- register -->
        <!-- login -->
    </header>
</div>