<div class="container">
    <!-- search -->
    <div class="row">
        <form>
            <div class="col s9">
                <input id="search" type="search" value="ASK ME ANYTHING" required>
            </div>
            <div class="col s3">
                <button type="submit" class="button">Define.this</button>
            </div>
        </form>        
    </div>

    <!-- 3 most recent -->
    <div class="row">
        <div class="col s4">
            <div id="indexCard">
                {{> card }} 
            </div>
        </div>
        <div class="col s4">
            <div id="indexCard">
                {{> card }}
            </div>
        </div>
        <div class="col s4">
            <div id="indexCard">
                {{> card }}
            </div>
        </div>
    </div>

    <!-- place holders, stretch goals -->
    <div class="row">
        <div class="col s3">
            <div class="card center">
                <div class="card-section">
                    <span class="smBold">DEFINE.THIS OF THE DAY</span>
                </div>
                <div class="card-divider">
                    <span class="lrgBold">WORD</span>
                    <span class="smBold">DEFINITION</span>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card center">
                    <div class="card-section">
                        <span class="smBold">TOPIC.THIS OF THE DAY</span>
                    </div>
                    <div class="card-divider">
                        <span class="lrgBold">TOPIC</span>
                        <span class="smBold">COPY</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card center">
                    <div class="card-section">
                        <span class="smBold">ASKED.THIS OF THE DAY</span>
                    </div>
                    <div class="card-divider">
                        <span class="lrgBold">QUESTION</span>
                        <span class="smBold">COPY</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card center">
                    <div class="card-section">
                        <span class="smBold">USER.THIS OF THE DAY</span>
                    </div>
                    <div class="card-divider">
                        <span class="lrgBold">NAME</span>
                        <span class="smBold">COPY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
